* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(255, 255, 255, 1) no-repeat;
    overflow-x: hidden;
}

.header {
    margin: 0 auto;
    max-width: 1080px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    border-bottom: 1.5px solid rgba(234, 234, 234, 1);
}

.header__logoSide {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 50px;
}

.header__logoSide-text {
    /* Стили для текста логотипа */
}

.slogan {
    font-weight: 400;
    font-size: 14px;
    color: rgba(157, 157, 157, 1);
    line-height: 16.94px;
}

.reactSneakers {
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
}

.header__nav {
    margin-right: 50px;
}

.header__nav-burgerMenu {
    display: none;
}

.header__nav-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 30px;
}

.navElements {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cartIcon {
    height: 18px;
    width: 18px;
}

.price {
    font-size: 14px;
    font-weight: 600;
    line-height: 16.94px;
    color: rgba(92, 92, 92, 1);
}

.navElement {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    color: rgba(92, 92, 92, 1);
}

.sneakers {
    margin: 0 auto;
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
}

/*.sneakers_active {*/
/*    transform: translateX(30%);*/
/*}*/



.container {
    margin: 20px auto;
    max-width: 960px;
}

.main__slider {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main__sneakersBlock {
    padding-top: 30px;
    padding-bottom: 10px;
}

.main__sneakersBlock-topSide {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main__sneakersBlock-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 38.73px;
    color: rgba(0, 0, 0, 1);
}

.main__sneakersBlock-search {
    width: 250px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid rgba(228, 228, 228, 1);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.main__sneakersBlock-allSneakers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
}

.main__sneakersBoxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.main__sneakersBox {
    margin-top: 20px;
    position: relative;
    width: 210px;
    height: 260px;
    border-radius: 40px;
    border: 1px solid rgba(243, 243, 243, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__sneakersBox-like {
    position: absolute;
    top: 25px;
    left: 25px;
}

.main__sneakersBox-imgSneakers {
    width: 120px;
    height: 140px;
}

.main__sneakersBox-func {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 44px;
    padding-top: 20px;
}

.main__sneakersBox-desc {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}

.main__sneakersBox-tsena {
    font-size: 11px;
    font-weight: 500;
}

.main__sneakersBox-number {
    font-size: 14px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
}

.main__sneakersBox-add {
    width: 18px;
    height: 18px;
    background-color: green;
    border-radius: 4px;
}

.cart {
    position: fixed;
    left: 0;
    top: 0;
    width: 385px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    z-index: 99;
    transition: 0.5s;
    transform: translateX(-100%);
}

.cart__active {
    transform: translateX(0%);
}

.cart__topSide {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 100px;
    padding-top: 20px;
    padding-right: 30px;
}

.cart__topSide-cross {
    width:30px;
    height: 30px;
}

.cart__topSide-title {
    font-size: 24px;
    font-weight: 700;
}

.cart__sneakersBoxes {
}

.cart__sneakersBox {
    position: relative;
    width: 325px;
    height: 130px;
    border-radius: 40px;
    border: 1px solid rgba(243, 243, 243, 1);
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cart__sneakersBox-imgSneakers {
    width: 70px;
    height: 70px;
}

.cart__sneakersBox-desc {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}

.cart__sneakersBox-number {
    font-size: 14px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
    margin-top: 20px;
}

.cart__sneakersBox-cross {
    width: 30px;
    height: 30px;
}

@media (max-width: 1200px) {
    .header {
        max-width: 960px;
    }

    .header__nav-list {
        display: none;
    }

    .header__nav-burgerMenu {
        display: block;
        width: 70px;
        height: 40px;
    }

    section {
        max-width: 992px;
    }

    .container {
        margin: 0 auto;
        max-width: 940px;
    }

    .main__slider-img {
        width: 940px;
        height: 250px;
    }

    .main__sneakersBlock {
    }
}

@media only screen and (max-width: 768px) {
    .header {
        max-width: 768px;
    }

    section {
        max-width: 768px;
    }

    .container {
        margin: 0 auto;
        max-width: 700px;
    }

    .main__slider-img {
        width: 700px;
        height: 250px;
    }

    .main__sneakersBoxes {
        width: 100%;
    }

    .main__sneakersBox {
        width: 250px;
        height: 280px;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 480px) {

    .header {
        margin: 0 auto;
        height: 100px;
        max-width: 450px;
        display: flex;
        justify-content: space-between;
    }

    .header__logoSide-logo {
        width: 40px;
        height: 40px;
    }

    .slogan {
        font-weight: 400;
        font-size: 10px;
    }

    .reactSneakers {
        font-size: 15px;
    }

    .header__nav-burgerMenu {
        width: 40px;
        height: 25px;
    }

    section {
        margin: 0 auto;
        max-width: 450px;
    }

    .container {
        margin: 0 auto;
        max-width: 420px;
    }

    .main__slider-img {
        width: 350px;
        height: 180px;
    }

    .main__sneakersBlock-title {
        font-size: 20px;
    }

    .main__sneakersBlock-search {
        width: 120px;
        height: 25px;
    }

    .main__sneakersBox {
        position: relative;
        width: 160px;
        height: 210px;
    }

    .main__sneakersBox-desc {
        font-size: 10px;
        font-weight: 400;
        color: rgba(0, 0, 0, 1);
    }

    .main__sneakersBox-tsena {
        font-size: 8px;
        font-weight: 500;
    }

    .main__sneakersBox-number {
        font-size: 10px;
        font-weight: 700;
        color: rgba(0, 0, 0, 1);
    }

    .main__sneakersBox-imgSneakers {
        width: 113px;
        height: 95px;
    }

    .main__sneakersBox-add {
        width: 20px;
        height: 20px;
    }
}
